In [1]:

import requests
import lxml.html as lh
import pandas as pd
from bs4 import BeautifulSoup
import time
import datetime as dt
from datetime import date
from datetime import datetime

In [6]:
def transf_time(): 
    todays_date=date.today()
    Yeart=todays_date.year
    time_str =( f"{Yeart}-08-15")
    DateT=datetime.strptime(time_str, '%Y-%m-%d').date()
    if todays_date > DateT:
      Yeart=Yeart+1 
    else:
     Yeart=Yeart
    z= Yeart-1995
    return z

27

In [5]:
x=1995

Lig_list=[]
x=1995

Lig_list=[]

for r in range(z):
    lalurl = f"https://www.transfermarkt.com/laliga/einnahmenausgaben/wettbewerb/ES1/plus/0?ids=a&sa=&\
    saison_id={x}&saison_id_bis={x}&nat=&pos=&altersklasse=&w_s=&leihe=&intern=0"
    page=requests.get(lalurl,headers={'User-Agent': 'Custom'})
    t=pd.read_html(page.content)
    t[3]["Year"]=f'{x+1}-12-31'
    Lig_list.append(t[3])
    x=x+1
    time.sleep(2)

laltr=pd.concat(Lig_list)

In [6]:
x=1995

EPL_list=[]


for r in range(z):
    eplurl = f"https://www.transfermarkt.com/premier-league/einnahmenausgaben/wettbewerb/GB1/plus/0?ids=a&sa=&\
    saison_id={x}&saison_id_bis={x}&nat=&pos=&altersklasse=&w_s=&leihe=&intern=0"
    page=requests.get(eplurl,headers={'User-Agent': 'Custom'})
    t=pd.read_html(page.content)
    t[3]["Year"]=f'{x+1}-12-31'
    EPL_list.append(t[3])
    x=x+1
    time.sleep(2)

EPLtr=pd.concat(EPL_list)

In [7]:
x=1995

SER_list=[]


for r in range(z):
    serurl = f"https://www.transfermarkt.com/serie-a/einnahmenausgaben/wettbewerb/IT1/plus/0?ids=a&sa=&\
    saison_id={x}&saison_id_bis={x}&nat=&pos=&altersklasse=&w_s=&leihe=&intern=0"
    page=requests.get(serurl,headers={'User-Agent': 'Custom'})
    t=pd.read_html(page.content)
    t[3]["Year"]=f'{x+1}-12-31'
    SER_list.append(t[3])
    x=x+1
    time.sleep(2)

SERtr=pd.concat(SER_list)

In [8]:
x=1995

BUN_list=[]


for r in range(z):
    bunurl = f"https://www.transfermarkt.com/bundesliga/einnahmenausgaben/wettbewerb/L1/plus/0?ids=a&sa=&\
    saison_id={x}&saison_id_bis={x}&nat=&pos=&altersklasse=&w_s=&leihe=&intern=0"
    page=requests.get(bunurl,headers={'User-Agent': 'Custom'})
    t=pd.read_html(page.content)
    t[3]["Year"]=f'{x+1}-12-31'
    BUN_list.append(t[3])
    x=x+1
    time.sleep(2)

BUNtr=pd.concat(BUN_list)

In [9]:
x=1995

FRA_list=[]


for r in range(z):
    fraurl = f"https://www.transfermarkt.com/ligue-1/einnahmenausgaben/wettbewerb/FR1/plus/0?ids=a&sa=&\
    saison_id={x}&saison_id_bis={x}&nat=&pos=&altersklasse=&w_s=&leihe=&intern=0"
    page=requests.get(fraurl,headers={'User-Agent': 'Custom'})
    t=pd.read_html(page.content)
    t[3]["Year"]=f'{x+1}-12-31'
    FRA_list.append(t[3])
    x=x+1
    time.sleep(2)

FRAtr=pd.concat(FRA_list)

In [10]:
x=1995

ERE_list=[]


for r in range(z):
    ereurl = f"https://www.transfermarkt.com/eredivisie/einnahmenausgaben/wettbewerb/NL1/plus/0?ids=a&sa=&\
    saison_id={x}&saison_id_bis={x}&nat=&pos=&altersklasse=&w_s=&leihe=&intern=0"
    page=requests.get(ereurl,headers={'User-Agent': 'Custom'})
    t=pd.read_html(page.content)
    t[3]["Year"]=f'{x+1}-12-31'
    ERE_list.append(t[3])
    x=x+1
    time.sleep(2)

EREtr=pd.concat(ERE_list)

In [11]:
x=1995

POR_list=[]


for r in range(z):
    porurl = f"http://www.transfermarkt.com/liga-nos/einnahmenausgaben/wettbewerb/PO1/plus/0?ids=a&sa=&\
    saison_id={x}&saison_id_bis={x}&nat=&pos=&altersklasse=&w_s=&leihe=&intern=0"
    page=requests.get(porurl,headers={'User-Agent': 'Custom'})
    t=pd.read_html(page.content)
    t[3]["Year"]=f'{x+1}-12-31'
    POR_list.append(t[3])
    x=x+1
    time.sleep(2)

PORtr=pd.concat(POR_list)

In [12]:
x=1995

Seg_list=[]


for r in range(z):
    segurl = f"https://www.transfermarkt.com/laliga2/einnahmenausgaben/wettbewerb/ES2/plus/0?\
    ids=a&sa=&saison_id={x}&saison_id_bis={x}&nat=&pos=&altersklasse=&w_s=&leihe=&intern=0"
    page=requests.get(segurl,headers={'User-Agent': 'Custom'})
    t=pd.read_html(page.content)
    t[3]["Year"]=f'{x+1}-12-31'
    Seg_list.append(t[3])
    x=x+1
    time.sleep(2)

Segtr=pd.concat(Seg_list)

In [13]:
x=1995

chmp_list=[]


for r in range(z):
    chmpurl = f"https://www.transfermarkt.com/championship/einnahmenausgaben/wettbewerb/GB2/plus/0?ids=a&sa=&\
    saison_id={x}&saison_id_bis={x}&nat=&pos=&altersklasse=&w_s=&leihe=&intern=0"
    page=requests.get(chmpurl,headers={'User-Agent': 'Custom'})
    t=pd.read_html(page.content)
    t[3]["Year"]=f'{x+1}-12-31'
    chmp_list.append(t[3])
    x=x+1
    time.sleep(2)

chmptr=pd.concat(chmp_list)

In [14]:
tralist=[laltr, EPLtr, EREtr, FRAtr,BUNtr,SERtr, PORtr, chmptr,Segtr]

In [66]:
transfers_df= pd.concat(tralist)
transfers_df

,#,club,club.1,club.2,Expenditure,Arrivals,Income,Departures,Balance,Year
0,1,NaN,FC Barcelona,€16.80m,14,€18.70m,11,€1.90m,NaN,1996-12-31
1,2,NaN,Real Madrid,€10.10m,10,-,8,€-10.10m,NaN,1996-12-31
2,3,NaN,Deportivo de La Coruña,€4.78m,8,-,5,€-4.78m,NaN,1996-12-31
3,4,NaN,Athletic Bilbao,€3.00m,5,-,4,€-3.00m,NaN,1996-12-31
4,5,NaN,Valencia CF,€2.00m,10,€3.00m,11,€1.00m,NaN,1996-12-31
...,...,...,...,...,...,...,...,...,...,...
17,18,NaN,Girona FC,-,17,€3.05m,22,€3.05m,NaN,2022-12-31
18,19,NaN,CD Mirandés,-,17,-,31,+-0,NaN,2022-12-31
19,20,NaN,UD Ibiza,-,15,-,13,+-0,NaN,2022-12-31
20,21,NaN,CF Fuenlabrada,-,14,€2.30m,16,€2.30m,NaN,2022-12-31
21,22,NaN,SD Amorebieta,-,17,-,8,+-0,NaN,2022-12-31

In [67]:
transfer_df=transfers_df[["club.1","club.2","Arrivals", "Year"]]

In [68]:
transfer_df.head()

                   club.1   club.2 Arrivals        Year
0            FC Barcelona  €16.80m  €18.70m  1996-12-31
1             Real Madrid  €10.10m        -  1996-12-31
2  Deportivo de La Coruña   €4.78m        -  1996-12-31
3         Athletic Bilbao   €3.00m        -  1996-12-31
4             Valencia CF   €2.00m   €3.00m  1996-12-31

In [69]:
transfer_df.columns=["Club", "Spending", "Revenue", "Year"]

In [70]:
transfer_df.head()

                     Club Spending  Revenue        Year
0            FC Barcelona  €16.80m  €18.70m  1996-12-31
1             Real Madrid  €10.10m        -  1996-12-31
2  Deportivo de La Coruña   €4.78m        -  1996-12-31
3         Athletic Bilbao   €3.00m        -  1996-12-31
4             Valencia CF   €2.00m   €3.00m  1996-12-31

In [71]:
Snew = transfer_df["Spending"].str.split("€", n = 1, expand = True)
Sfin=Snew[1].str.split("m", n = 1, expand = True)
transfer_df["Spend"]=Sfin[0]

/var/folders/xh/31y82fv93k31xbn95wc1sjdc0000gn/T/ipykernel_10317/2349279730.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transfer_df["Spend"]=Sfin[0]

In [72]:
Rnew = transfer_df["Revenue"].str.split("€", n = 1, expand = True)
Rfin=Rnew[1].str.split("m", n = 1, expand = True)
transfer_df["Rev"]=Rfin[0]

/var/folders/xh/31y82fv93k31xbn95wc1sjdc0000gn/T/ipykernel_10317/2838540946.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  transfer_df["Rev"]=Rfin[0]

In [73]:
transfer_df.dtypes

Club        object
Spending    object
Revenue     object
Year        object
Spend       object
Rev         object
dtype: object

In [74]:
transfer_df["Spend"].fillna(0, inplace=True)

/usr/local/lib/python3.9/site-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [75]:

transfer_df=transfer_df.replace({
"UD Salamanca (liq.)":"UD Salamanca",
"CP Mérida (diss.)":"CP Mérida",
"CF Extremadura (diss.)":"CF Extremadura",
"CD Logroñés (liq.)":"CD Logroñés",
"Granada 74 CF (liq.)":"Granada CF",
"Club Atlético Marbella (liq.)":"Atlético Marbella",
"Sestao Sport Club (liq.)":"Sestao SC",
"Real Madrid Castilla":"Real Madrid B",
      
"AC Parma":"Parma AC",
"Milan AC":"AC Milan",
"Juventus FC":"Juventus",
"Torino Calcio":"Torino FC",
"AC Fiorentina":"ACF Fiorentina",
"Parma FC":"Parma AC",
"Parma Calcio 1913":"Parma AC",
"Florentia Viola":"ACF Fiorentina",
"SPAL":"SPAL 2013 Ferrara",
"UC Sampdoria":"Sampdoria",
"FC Internazionale":"Inter",
"Inter Milan":"Inter",
"Robur Siena":"AC Siena",
"FC Messina Peloro":"FC Messina",
"FC Girondins Bordeaux":"Girondins Bordeaux",
"RC Strasbourg Alsace":"RC Strasbourg",
"AS Nancy-Lorraine":"FC Nancy",
"ES Troyes AC":"Troyes AF",
"FC Sochaux-Montbéliard":"FC Sochaux",
"CS Sedan-Ardennes":"CS Sedan",
"Le Mans Union Club 72":"Le Mans UC 72",
"Le Mans FC":"Le Mans UC 72",
"SCO Angers":"Angers SCO",
"Stade Brest 29":"Stade Brest",
"FC Istres Ouest Provence":"FC Istres",
"Bayer 04 Leverkusen":"Bayer Leverkusen",
"Twente Enschede FC":"FC Twente",
"Vitesse Arnhem":"Vitesse",
"De Graafschap Doetinchem":"De Graafschap",
"Go Ahead Eagles Deventer":"Go Ahead Eagles",
"Cambuur-Leeuwarden bvo":"SC Cambuur",
"SC Cambuur-Leeuwarden":"SC Cambuur",
"Willem II Tilburg":"Willem II",
"SBV Excelsior Rotterdam":"SBV Excelsior","UD Salamanca (liq.)":"UD Salamanca" ,
"UE Lleida (liq.)":"UE Lleida" ,
"CD Badajoz 1905":"CD Badajoz" ,
"Club Polideportivo Ejido (liq.)":"Polideportivo Ejido" ,
  
     "CF Extremadura (diss.)":"CF Extremadura" ,
  
     "Ciudad Murcia (liq.)":"Ciudad de Murcia" ,
  
     "CD Logroñés (liq.)":"CD Logroñés" ,
  
     "Real Jaén CF":"Real Jaén" ,
  
     "Real Madrid Castilla":"Real Madrid B" ,
  
     "CF Reus Deportiu (liq.)":"CF Reus Deportiu" ,
  
     "Terrassa FC":"Terrassa CF" ,
  
     "CP Mérida (diss.)":"CP Mérida" ,
  
     "CD Ourense (liq.)":"CD Ourense" ,
  
     "Lorca Deportiva CF (liq.)":"Lorca Deportiva" ,
  
     "Alicante CF (liq.)":"Alicante CF" ,
  
     "UD Vecindario (liq.)":"UD Vecindario" ,
  
     "Real Unión Club":"Real Unión" ,
  
     "Universidad de Las Palmas (liq.)":"Universidad Las Palmas" ,
  
     "Cultural Leonesa":"CD Leonesa" ,
  
     "CF Rayo Majadahonda":"Rayo Majadahonda" ,
  
     "Granada 74 CF (liq.)":"Granada CF" ,
  
     "Sestao Sport Club (liq.)":"Sestao SC" ,
  
     "Club Atlético Marbella (liq.)":"Atlético Marbella" ,
"Atlético de Madrid": "Atlético Madrid"})

In [76]:
transfer_df["Rev"].fillna(0, inplace=True)

In [77]:
transfer_df

                      Club Spending  Revenue        Year  Spend    Rev
0             FC Barcelona  €16.80m  €18.70m  1996-12-31  16.80  18.70
1              Real Madrid  €10.10m        -  1996-12-31  10.10      0
2   Deportivo de La Coruña   €4.78m        -  1996-12-31   4.78      0
3          Athletic Bilbao   €3.00m        -  1996-12-31   3.00      0
4              Valencia CF   €2.00m   €3.00m  1996-12-31   2.00   3.00
..                     ...      ...      ...         ...    ...    ...
17               Girona FC        -   €3.05m  2022-12-31      0   3.05
18             CD Mirandés        -        -  2022-12-31      0      0
19                UD Ibiza        -        -  2022-12-31      0      0
20          CF Fuenlabrada        -   €2.30m  2022-12-31      0   2.30
21           SD Amorebieta        -        -  2022-12-31      0      0

[4816 rows x 6 columns]

In [78]:
th1=transfer_df["Spend"].str.split("Th.", n = 1, expand = True)

In [79]:
th2=transfer_df["Rev"].str.split("Th.", n = 1, expand = True)

In [80]:
transfer_df["Spend"]=th1[0]
transfer_df["Spend(m/Thousand)"]=th1[1]
transfer_df["Rev"]=th2[0]
transfer_df["Rev(m/Thousand)"]=th2[1]

In [81]:
transfer_df["Spend"]=transfer_df["Spend"].astype(str).astype(float)

transfer_df["Rev"]=transfer_df["Rev"].astype(str).astype(float)

In [82]:
transfer_df["Spend(m/Thousand)"].fillna(0, inplace=True)

In [83]:
transfer_df["Rev(m/Thousand)"].fillna(0, inplace=True)

In [84]:
import numpy as np

In [85]:

transfer_df['Spend_raw']= np.where(transfer_df["Spend(m/Thousand)"]==0, transfer_df["Spend"]*1000000, 
                                   transfer_df["Spend"]*1000)

transfer_df['Rev_raw']= np.where(transfer_df["Rev(m/Thousand)"]==0, transfer_df["Rev"]*1000000, 
                                   transfer_df["Rev"]*1000)

In [86]:
transfer_df["Rev_raw"].fillna(0, inplace=True)

In [87]:
transfer_df["Club"]=transfer_df["Club"].astype("string")
transfer_df.dtypes

Club                  string
Spending              object
Revenue               object
Year                  object
Spend                float64
Rev                  float64
Spend(m/Thousand)     object
Rev(m/Thousand)       object
Spend_raw            float64
Rev_raw              float64
dtype: object

In [88]:

transfer_df=transfer_df.replace({
"UD Salamanca (liq.)":"UD Salamanca",
"CP Mérida (diss.)":"CP Mérida",
"CF Extremadura (diss.)":"CF Extremadura",
"CD Logroñés (liq.)":"CD Logroñés",
"AC Parma":"Parma AC",
"Milan AC":"AC Milan",
"Juventus FC":"Juventus",
"Torino Calcio":"Torino FC",
"AC Fiorentina":"ACF Fiorentina",
"Parma FC":"Parma AC",
"Parma Calcio 1913":"Parma AC",
"Florentia Viola":"ACF Fiorentina",
"SPAL":"SPAL 2013 Ferrara",
"UC Sampdoria":"Sampdoria",
"FC Internazionale":"Inter",
"Inter Milan":"Inter",
"Robur Siena":"AC Siena",
"FC Messina Peloro":"FC Messina",
"FC Girondins Bordeaux":"Girondins Bordeaux",
"RC Strasbourg Alsace":"RC Strasbourg",
"AS Nancy-Lorraine":"FC Nancy",
"ES Troyes AC":"Troyes AF",
"FC Sochaux-Montbéliard":"FC Sochaux",
"CS Sedan-Ardennes":"CS Sedan",
"Le Mans Union Club 72":"Le Mans UC 72",
"Le Mans FC":"Le Mans UC 72",
"SCO Angers":"Angers SCO",
"Stade Brest 29":"Stade Brest","Stade Brestois 29":"Stade Brest",
"FC Istres Ouest Provence":"FC Istres",
"Bayer 04 Leverkusen":"Bayer Leverkusen",
"Twente Enschede FC":"FC Twente",
"Vitesse Arnhem":"Vitesse",
"De Graafschap Doetinchem":"De Graafschap",
"Go Ahead Eagles Deventer":"Go Ahead Eagles",
"Cambuur-Leeuwarden bvo":"SC Cambuur",
"SC Cambuur-Leeuwarden":"SC Cambuur",
"Willem II Tilburg":"Willem II",
"SBV Excelsior Rotterdam":"SBV Excelsior",
"Vicenza Calcio":"Lanerossi Vicenza",
"Piacenza FC":"Piacenza Calcio",
"Delfino Pescara 1936":"Pescara Calcio","Atlético de Madrid": "Atlético Madrid",
"US Salernitana 1919":"US Salernitana","Venezia FC":"AC Venezia","Portimonense Futebol SAD":
"Portimonense SC", "Bayern Munich":"FC Bayern"})

In [96]:
transfer_df.loc[transfer_df["Club"]=="FC Bayern"]

         Club        Year  Transfer_Spend  Transfer_Revenue
1   FC Bayern  1996-12-31       9740000.0         3130000.0
0   FC Bayern  1997-12-31       6670000.0         6440000.0
0   FC Bayern  1998-12-31      15900000.0         6030000.0
2   FC Bayern  1999-12-31       7600000.0         8580000.0
4   FC Bayern  2000-12-31      16550000.0         3450000.0
3   FC Bayern  2001-12-31      10000000.0          275000.0
1   FC Bayern  2002-12-31      20540000.0         9350000.0
1   FC Bayern  2003-12-31      24500000.0         3500000.0
0   FC Bayern  2004-12-31      27000000.0         4500000.0
0   FC Bayern  2005-12-31      25750000.0         1030000.0
3   FC Bayern  2006-12-31      11200000.0         7050000.0
1   FC Bayern  2007-12-31      24000000.0         2500000.0
0   FC Bayern  2008-12-31      93200000.0        36150000.0
17  FC Bayern  2009-12-31             NaN        10900000.0
0   FC Bayern  2010-12-31      75700000.0        22950000.0
3   FC Bayern  2011-12-31      17000000.0         6000000.0
0   FC Bayern  2012-12-31      52100000.0         5000000.0
0   FC Bayern  2013-12-31      70300000.0          500000.0
0   FC Bayern  2014-12-31      62000000.0        40000000.0
1   FC Bayern  2015-12-31      53400000.0        48700000.0
0   FC Bayern  2016-12-31      90750000.0        33000000.0
3   FC Bayern  2017-12-31      70000000.0        52300000.0
0   FC Bayern  2018-12-31     116500000.0        32250000.0
14  FC Bayern  2019-12-31      10000000.0        84000000.0
1   FC Bayern  2020-12-31     139500000.0        54000000.0
0   FC Bayern  2021-12-31      62250000.0        22250000.0
1   FC Bayern  2022-12-31      57500000.0               0.0

In [90]:
transfer_df=transfer_df[["Club","Year","Spend_raw","Rev_raw"]]
transfer_df.columns=["Club","Year","Transfer_Spend","Transfer_Revenue"]

transfer_df=transfer_df.drop_duplicates()

In [91]:
transfer_df.to_csv('transfers.csv', index=False)
transfer_df.head(60)

                      Club        Year  Transfer_Spend  Transfer_Revenue
0             FC Barcelona  1996-12-31      16800000.0        18700000.0
1              Real Madrid  1996-12-31      10100000.0               0.0
2   Deportivo de La Coruña  1996-12-31       4780000.0               0.0
3          Athletic Bilbao  1996-12-31       3000000.0               0.0
4              Valencia CF  1996-12-31       2000000.0         3000000.0
5          Atlético Madrid  1996-12-31       1820000.0               0.0
6           Rayo Vallecano  1996-12-31       1200000.0               0.0
7        Albacete Balompié  1996-12-31        700000.0               0.0
8           Sporting Gijón  1996-12-31        500000.0               0.0
9            Real Sociedad  1996-12-31        300000.0         8500000.0
10           SD Compostela  1996-12-31        250000.0               0.0
11             Real Oviedo  1996-12-31        210000.0         3000000.0
12           Real Zaragoza  1996-12-31             NaN         5600000.0
13     Real Betis Balompié  1996-12-31             NaN         3000000.0
14      Real Valladolid CF  1996-12-31             NaN               0.0
15              Sevilla FC  1996-12-31             NaN               0.0
16        Racing Santander  1996-12-31             NaN         2280000.0
17             CD Tenerife  1996-12-31             NaN               0.0
18  RCD Espanyol Barcelona  1996-12-31             NaN               0.0
19           Celta de Vigo  1996-12-31             NaN               0.0
20            UD Salamanca  1996-12-31             NaN               0.0
21               CP Mérida  1996-12-31             NaN               0.0
0              Real Madrid  1997-12-31      56230000.0         4000000.0
1             FC Barcelona  1997-12-31      39500000.0        11220000.0
2   Deportivo de La Coruña  1997-12-31      31200000.0         2500000.0
3               Sevilla FC  1997-12-31      12770000.0        11000000.0
4      Real Betis Balompié  1997-12-31      11800000.0               0.0
5              Valencia CF  1997-12-31       9000000.0        14000000.0
6            Real Sociedad  1997-12-31       8000000.0         6000000.0
7            Real Zaragoza  1997-12-31       4100000.0         4000000.0
8          Atlético Madrid  1997-12-31       3650000.0         6000000.0
9         Racing Santander  1997-12-31       3000000.0               0.0
10             CD Tenerife  1997-12-31       3000000.0               0.0
11           Celta de Vigo  1997-12-31       3000000.0               0.0
12  RCD Espanyol Barcelona  1997-12-31       2300000.0               0.0
13             Real Oviedo  1997-12-31       2100000.0               0.0
14          Sporting Gijón  1997-12-31       1700000.0               0.0
15          Rayo Vallecano  1997-12-31       1000000.0               0.0
16          CF Extremadura  1997-12-31        871000.0               0.0
17             CD Logroñés  1997-12-31             NaN               0.0
18      Real Valladolid CF  1997-12-31             NaN               0.0
19         Athletic Bilbao  1997-12-31             NaN          900000.0
20           SD Compostela  1997-12-31             NaN               0.0
21             Hércules CF  1997-12-31             NaN               0.0
0             FC Barcelona  1998-12-31      59200000.0        40800000.0
1          Atlético Madrid  1998-12-31      43860000.0          210000.0
2              Real Madrid  1998-12-31      27970000.0               0.0
3              Valencia CF  1998-12-31      19650000.0         6100000.0
4   Deportivo de La Coruña  1998-12-31      19600000.0        24250000.0
5              CD Tenerife  1998-12-31      14000000.0         5300000.0
6          Athletic Bilbao  1998-12-31      12000000.0        10510000.0
7   RCD Espanyol Barcelona  1998-12-31       5300000.0         9000000.0
8                CP Mérida  1998-12-31       5290000.0         4810000.0
9       Real Valladolid CF  1998-12-31       2000000.0               0.0
10          Sporting Gijón  1998-12-31       2000000.0               0.0
11     Real Betis Balompié  1998-12-31       1800000.0        12750000.0
12             Real Oviedo  1998-12-31       1500000.0               0.0
13            RCD Mallorca  1998-12-31       1000000.0          100000.0
14            UD Salamanca  1998-12-31        900000.0               0.0
15           Celta de Vigo  1998-12-31        800000.0               0.0

In [92]:
from sqlalchemy import create_engine
connection_string = "postgres:123@localhost:5432/Soccer-Story"
engine = create_engine(f'postgresql://{connection_string}')

In [93]:
engine.table_names()

/var/folders/xh/31y82fv93k31xbn95wc1sjdc0000gn/T/ipykernel_10317/4162273999.py:1: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['league_coding',
 'uefa',
 'league',
 'team',
 'fc_coding',
 'transfer',
 'd_date',
 'tv_money']

In [94]:
transfer_df.to_sql(name = "transfer", con=engine, if_exists = 'replace', index = True)

In [95]:
transfer_df.to_excel('transfers.xlsx', index=False)
transfer_df.to_csv('transfer.csv',index=False)

In [58]:
BUNtr.tail(18)

,#,club,club.1,club.2,Expenditure,Arrivals,Income,Departures,Balance,Year
0,1,NaN,RB Leipzig,€107.62m,25,€112.00m,13,€4.38m,NaN,2022-12-31
1,2,NaN,Bayern Munich,€57.50m,14,-,9,€-57.50m,NaN,2022-12-31
2,3,NaN,Bayer 04 Leverkusen,€52.85m,14,€42.00m,12,€-10.85m,NaN,2022-12-31
3,4,NaN,VfL Wolfsburg,€52.50m,30,€2.10m,16,€-50.40m,NaN,2022-12-31
4,5,NaN,Borussia Dortmund,€45.00m,11,€107.75m,9,€62.75m,NaN,2022-12-31
5,6,NaN,Hertha BSC,€22.60m,18,€54.50m,14,€31.90m,NaN,2022-12-31
6,7,NaN,VfB Stuttgart,€15.35m,16,€39.25m,14,€23.90m,NaN,2022-12-31
7,8,NaN,1.FC Union Berlin,€13.90m,25,€8.60m,20,€-5.30m,NaN,2022-12-31
8,9,NaN,Borussia Mönchengladbach,€13.50m,13,-,12,€-13.50m,NaN,2022-12-31
9,10,NaN,Eintracht Frankfurt,€7.75m,26,€27.50m,21,€19.75m,NaN,2022-12-31
10,11,NaN,FC Augsburg,€7.70m,17,€12.60m,12,€4.90m,NaN,2022-12-31
11,12,NaN,Arminia Bielefeld,€7.50m,25,€350Th.,26,€-7.15m,NaN,2022-12-31
12,13,NaN,1.FSV Mainz 05,€6.60m,20,€7.05m,16,€450Th.,NaN,2022-12-31
13,14,NaN,SC Freiburg,€5.00m,16,€14.25m,11,€9.25m,NaN,2022-12-31
14,15,NaN,SpVgg Greuther Fürth,€750Th.,14,€3.50m,12,€2.75m,NaN,2022-12-31
15,16,NaN,1. FC Köln,€250Th.,19,€22.00m,20,€21.75m,NaN,2022-12-31
16,17,NaN,VfL Bochum,-,12,€350Th.,9,€350Th.,NaN,2022-12-31
17,18,NaN,TSG 1899 Hoffenheim,-,17,€500Th.,9,€500Th.,NaN,2022-12-31