In [1]:
import requests
import lxml.html as lh
import pandas as pd
from bs4 import BeautifulSoup
import time
import datetime as dt

In [2]:
x=1995

Lig_list=[]
x=1995

Lig_list=[]

for r in range(26):
    lalurl = f"https://www.transfermarkt.com/laliga/einnahmenausgaben/wettbewerb/ES1/plus/0?ids=a&sa=&\
    saison_id={x}&saison_id_bis={x}&nat=&pos=&altersklasse=&w_s=&leihe=&intern=0"
    page=requests.get(lalurl,headers={'User-Agent': 'Custom'})
    t=pd.read_html(page.content)
    t[3]["Year"]=f'{x}-12-31'
    Lig_list.append(t[3])
    x=x+1
    time.sleep(2)

laltr=pd.concat(Lig_list)

In [3]:
x=1995

EPL_list=[]


for r in range(26):
    eplurl = f"https://www.transfermarkt.com/premier-league/einnahmenausgaben/wettbewerb/GB1/plus/0?ids=a&sa=&\
    saison_id={x}&saison_id_bis={x}&nat=&pos=&altersklasse=&w_s=&leihe=&intern=0"
    page=requests.get(eplurl,headers={'User-Agent': 'Custom'})
    t=pd.read_html(page.content)
    t[3]["Year"]=f'{x}-12-31'
    EPL_list.append(t[3])
    x=x+1
    time.sleep(2)

EPLtr=pd.concat(EPL_list)

In [4]:
x=1995

SER_list=[]


for r in range(26):
    serurl = f"https://www.transfermarkt.com/serie-a/einnahmenausgaben/wettbewerb/IT1/plus/0?ids=a&sa=&\
    saison_id={x}&saison_id_bis={x}&nat=&pos=&altersklasse=&w_s=&leihe=&intern=0"
    page=requests.get(serurl,headers={'User-Agent': 'Custom'})
    t=pd.read_html(page.content)
    t[3]["Year"]=f'{x}-12-31'
    SER_list.append(t[3])
    x=x+1
    time.sleep(2)

SERtr=pd.concat(SER_list)

In [5]:
x=1995

BUN_list=[]


for r in range(26):
    bunurl = f"https://www.transfermarkt.com/bundesliga/einnahmenausgaben/wettbewerb/L1/plus/0?ids=a&sa=&\
    saison_id={x}&saison_id_bis={x}&nat=&pos=&altersklasse=&w_s=&leihe=&intern=0"
    page=requests.get(bunurl,headers={'User-Agent': 'Custom'})
    t=pd.read_html(page.content)
    t[3]["Year"]=f'{x}-12-31'
    BUN_list.append(t[3])
    x=x+1
    time.sleep(2)

BUNtr=pd.concat(BUN_list)

In [6]:
x=1995

FRA_list=[]


for r in range(26):
    fraurl = f"https://www.transfermarkt.com/ligue-1/einnahmenausgaben/wettbewerb/FR1/plus/0?ids=a&sa=&\
    saison_id={x}&saison_id_bis={x}&nat=&pos=&altersklasse=&w_s=&leihe=&intern=0"
    page=requests.get(fraurl,headers={'User-Agent': 'Custom'})
    t=pd.read_html(page.content)
    t[3]["Year"]=f'{x}-12-31'
    FRA_list.append(t[3])
    x=x+1
    time.sleep(2)

FRAtr=pd.concat(FRA_list)

In [7]:
x=1995

ERE_list=[]


for r in range(26):
    ereurl = f"https://www.transfermarkt.com/eredivisie/einnahmenausgaben/wettbewerb/NL1/plus/0?ids=a&sa=&\
    saison_id={x}&saison_id_bis={x}&nat=&pos=&altersklasse=&w_s=&leihe=&intern=0"
    page=requests.get(ereurl,headers={'User-Agent': 'Custom'})
    t=pd.read_html(page.content)
    t[3]["Year"]=f'{x}-12-31'
    ERE_list.append(t[3])
    x=x+1
    time.sleep(2)

EREtr=pd.concat(ERE_list)

In [8]:
x=1995

POR_list=[]


for r in range(26):
    porurl = f"http://www.transfermarkt.com/liga-nos/einnahmenausgaben/wettbewerb/PO1/plus/0?ids=a&sa=&\
    saison_id={x}&saison_id_bis={x}&nat=&pos=&altersklasse=&w_s=&leihe=&intern=0"
    page=requests.get(porurl,headers={'User-Agent': 'Custom'})
    t=pd.read_html(page.content)
    t[3]["Year"]=f'{x}-12-31'
    POR_list.append(t[3])
    x=x+1
    time.sleep(2)

PORtr=pd.concat(POR_list)

In [9]:
braurl = f"https://www.transfermarkt.com/campeonato-brasileiro-serie-a/einnahmenausgaben/wettbewerb/BRA1/plus/0?ids=a&sa=&\
    saison_id={1995}&saison_id_bis={1995}&nat=&pos=&altersklasse=&w_s=&leihe=&intern=0"
page=requests.get(braurl,headers={'User-Agent': 'Custom'})
t=pd.read_html(page.content)
t

[                  0                    1
 0     League level:  First Tier - Brazil
 1  Number of teams:             20 teams
 2          Players:                  643
 3       Foreigners:     65 Players 10.1%
 4   ø-Market value:               €1.46m,
                            0                                        1
 0  Record-holding champions:  Sociedade Esportiva Palmeiras 9 time(s)
 1                     ø-Age:                                     26.3
 2         Reigning champion:             Clube de Regatas do Flamengo
 3      Most valuable player:                    Gabriel Veron €25.00m,
                             0  \
 0                    Sorting:
 1            Further options:
 2                     Period:
 3                Citizenship:
 4                   Position:
 5                  Age group:
 6              Transfer date:
 7                      Loans:
 8  Transfers within the club:
 9                         NaN

                                                    1
 0                                Expenditure  Income
 1  Grouped by club  List transfer income and expe...
 2  from  All seasons  23/24  22/23  21/22  20/21 ...
 3  All nationalities  Afghanistan  Albania  Alger...
 4  All positions  goalkeeper defence midfield attack
 5  All age groups  All age groups  Under 15  Unde...
 6  doesn't matter  Summer transfers only  Winter ...
 7  All transfers  Only include loans  Without pla...
 8     All transfers  Without club internal transfers
 9                                                NaN  ,
      #  club                            club.1  club.2  Expenditure Arrivals  \
 0    1   NaN     Sociedade Esportiva Palmeiras  €3.00m           14   €4.60m
 1    2   NaN   Sport Club Corinthians Paulista       -            8        -
 2    3   NaN  Grêmio Foot-Ball Porto Alegrense       -            7   €3.00m
 3    4   NaN                         Santos FC       -            7        -
 4    5   NaN            Clube Atlético Mineiro       -            7        -
 5    6   NaN     Botafogo de Futebol e Regatas       -            7        -
 6    7   NaN           São Paulo Futebol Clube       -           14  €15.95m
 7    8   NaN      Clube de Regatas do Flamengo       -           19        -
 8    9   NaN               Atlético Paranaense       -            6        -
 9   10   NaN           Coritiba Foot Ball Club       -            5        -
 10  11   NaN     Club de Regatas Vasco da Gama       -            9        -
 11  12   NaN               Ceará Sporting Club       -            0        -
 12  13   NaN          Fluminense Football Club       -           11        -
 13  14   NaN               Goiás Esporte Clube       -            4        -
 14  15   NaN          Sport Club Internacional       -            8  €700Th.
 15  16   NaN              Sport Club do Recife       -            3        -
 16  17   NaN    Clube Atlético Bragantino (SP)       -            2        -
 17  18   NaN               Esporte Clube Bahia       -            9        -
 18  19   NaN           Fortaleza Esporte Clube       -            1        -
 19  20   NaN         Atlético Clube Goianiense       -            0        -

     Income Departures  Balance
 0       13     €1.60m      NaN
 1       10        +-0      NaN
 2        5     €3.00m      NaN
 3        6        +-0      NaN
 4        7        +-0      NaN
 5        6        +-0      NaN
 6       20    €15.95m      NaN
 7       15        +-0      NaN
 8        4        +-0      NaN
 9        5        +-0      NaN
 10       8        +-0      NaN
 11       0        +-0      NaN
 12       8        +-0      NaN
 13       3        +-0      NaN
 14       5    €700Th.      NaN
 15       1        +-0      NaN
 16       1        +-0      NaN
 17       6        +-0      NaN
 18       1        +-0      NaN
 19       0        +-0      NaN  ]

In [10]:
tralist=[laltr, EPLtr, EREtr, FRAtr,BUNtr,SERtr, PORtr]

In [11]:
transfers_df= pd.concat(tralist)
transfers_df

,#,club,club.1,club.2,Expenditure,Arrivals,Income,Departures,Balance,Year
0,1,NaN,FC Barcelona,€16.80m,14,€18.70m,11,€1.90m,NaN,1995-12-31
1,2,NaN,Real Madrid,€10.10m,10,-,8,€-10.10m,NaN,1995-12-31
2,3,NaN,Deportivo de La Coruña,€4.78m,8,-,5,€-4.78m,NaN,1995-12-31
3,4,NaN,Athletic Bilbao,€3.00m,5,-,4,€-3.00m,NaN,1995-12-31
4,5,NaN,Valencia CF,€2.00m,9,€3.00m,11,€1.00m,NaN,1995-12-31
...,...,...,...,...,...,...,...,...,...,...
13,14,NaN,Gil Vicente FC,-,24,-,25,+-0,NaN,2020-12-31
14,15,NaN,Rio Ave FC,-,16,€10.50m,18,€10.50m,NaN,2020-12-31
15,16,NaN,Belenenses SAD,-,22,-,18,+-0,NaN,2020-12-31
16,17,NaN,SC Farense,-,22,-,17,+-0,NaN,2020-12-31
17,18,NaN,Portimonense SC,-,31,€2.50m,24,€2.50m,NaN,2020-12-31

In [12]:
transfer_df=transfers_df[["club.1","club.2","Arrivals", "Year"]]

In [13]:
transfer_df.head()

                   club.1   club.2 Arrivals        Year
0            FC Barcelona  €16.80m  €18.70m  1995-12-31
1             Real Madrid  €10.10m        -  1995-12-31
2  Deportivo de La Coruña   €4.78m        -  1995-12-31
3         Athletic Bilbao   €3.00m        -  1995-12-31
4             Valencia CF   €2.00m   €3.00m  1995-12-31

In [14]:
transfer_df.columns=["Club", "Spending", "Revenue", "Year"]

In [15]:
transfer_df.head()

                     Club Spending  Revenue        Year
0            FC Barcelona  €16.80m  €18.70m  1995-12-31
1             Real Madrid  €10.10m        -  1995-12-31
2  Deportivo de La Coruña   €4.78m        -  1995-12-31
3         Athletic Bilbao   €3.00m        -  1995-12-31
4             Valencia CF   €2.00m   €3.00m  1995-12-31

In [16]:
Snew = transfer_df["Spending"].str.split("€", n = 1, expand = True)
Sfin=Snew[1].str.split("m", n = 1, expand = True)
transfer_df["Spend"]=Sfin[0]

/Users/tajudeenadeyemi/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [17]:
Rnew = transfer_df["Revenue"].str.split("€", n = 1, expand = True)
Rfin=Rnew[1].str.split("m", n = 1, expand = True)
transfer_df["Rev"]=Rfin[0]

/Users/tajudeenadeyemi/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [18]:
transfer_df.dtypes

Club        object
Spending    object
Revenue     object
Year        object
Spend       object
Rev         object
dtype: object

In [19]:
transfer_df["Spend"].fillna(0, inplace=True)

/Users/tajudeenadeyemi/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [20]:

transfer_df=transfer_df.replace({
"UD Salamanca (liq.)":"UD Salamanca",
"CP Mérida (diss.)":"CP Mérida",
"CF Extremadura (diss.)":"CF Extremadura",
"CD Logroñés (liq.)":"CD Logroñés",
"AC Parma":"Parma AC",
"Milan AC":"AC Milan",
"Juventus FC":"Juventus",
"Torino Calcio":"Torino FC",
"AC Fiorentina":"ACF Fiorentina",
"Parma FC":"Parma AC",
"Parma Calcio 1913":"Parma AC",
"Florentia Viola":"ACF Fiorentina",
"SPAL":"SPAL 2013 Ferrara",
"UC Sampdoria":"Sampdoria",
"FC Internazionale":"Inter",
"Inter Milan":"Inter",
"Robur Siena":"AC Siena",
"FC Messina Peloro":"FC Messina",
"FC Girondins Bordeaux":"Girondins Bordeaux",
"RC Strasbourg Alsace":"RC Strasbourg",
"AS Nancy-Lorraine":"FC Nancy",
"ES Troyes AC":"Troyes AF",
"FC Sochaux-Montbéliard":"FC Sochaux",
"CS Sedan-Ardennes":"CS Sedan",
"Le Mans Union Club 72":"Le Mans UC 72",
"Le Mans FC":"Le Mans UC 72",
"SCO Angers":"Angers SCO",
"Stade Brest 29":"Stade Brest",
"FC Istres Ouest Provence":"FC Istres",
"Bayer 04 Leverkusen":"Bayer Leverkusen",
"Twente Enschede FC":"FC Twente",
"Vitesse Arnhem":"Vitesse",
"De Graafschap Doetinchem":"De Graafschap",
"Go Ahead Eagles Deventer":"Go Ahead Eagles",
"Cambuur-Leeuwarden bvo":"SC Cambuur",
"SC Cambuur-Leeuwarden":"SC Cambuur",
"Willem II Tilburg":"Willem II",
"SBV Excelsior Rotterdam":"SBV Excelsior"})

In [21]:
transfer_df["Rev"].fillna(0, inplace=True)

In [22]:
transfer_df

                      Club Spending  Revenue        Year  Spend    Rev
0             FC Barcelona  €16.80m  €18.70m  1995-12-31  16.80  18.70
1              Real Madrid  €10.10m        -  1995-12-31  10.10      0
2   Deportivo de La Coruña   €4.78m        -  1995-12-31   4.78      0
3          Athletic Bilbao   €3.00m        -  1995-12-31   3.00      0
4              Valencia CF   €2.00m   €3.00m  1995-12-31   2.00   3.00
..                     ...      ...      ...         ...    ...    ...
13          Gil Vicente FC        -        -  2020-12-31      0      0
14              Rio Ave FC        -  €10.50m  2020-12-31      0  10.50
15          Belenenses SAD        -        -  2020-12-31      0      0
16              SC Farense        -        -  2020-12-31      0      0
17         Portimonense SC        -   €2.50m  2020-12-31      0   2.50

[3444 rows x 6 columns]

In [23]:
th1=transfer_df["Spend"].str.split("Th.", n = 1, expand = True)

In [24]:
th2=transfer_df["Rev"].str.split("Th.", n = 1, expand = True)

In [25]:
transfer_df["Spend"]=th1[0]
transfer_df["Spend(m/Thousand)"]=th1[1]
transfer_df["Rev"]=th2[0]
transfer_df["Rev(m/Thousand)"]=th2[1]

In [26]:
transfer_df["Spend"]=transfer_df["Spend"].astype(str).astype(float)

transfer_df["Rev"]=transfer_df["Rev"].astype(str).astype(float)

In [27]:
transfer_df["Spend(m/Thousand)"].fillna(0, inplace=True)

In [28]:
transfer_df["Rev(m/Thousand)"].fillna(0, inplace=True)

In [29]:
import numpy as np

In [30]:

transfer_df['Spend_raw']= np.where(transfer_df["Spend(m/Thousand)"]==0, transfer_df["Spend"]*1000000, 
                                   transfer_df["Spend"]*1000)

transfer_df['Rev_raw']= np.where(transfer_df["Rev(m/Thousand)"]==0, transfer_df["Rev"]*1000000, 
                                   transfer_df["Rev"]*1000)

In [31]:
transfer_df["Rev_raw"].fillna(0, inplace=True)

In [32]:
transfer_df["Club"]=transfer_df["Club"].astype("string")
transfer_df.dtypes

Club                  string
Spending              object
Revenue               object
Year                  object
Spend                float64
Rev                  float64
Spend(m/Thousand)     object
Rev(m/Thousand)       object
Spend_raw            float64
Rev_raw              float64
dtype: object

In [33]:

transfer_df=transfer_df.replace({
"UD Salamanca (liq.)":"UD Salamanca",
"CP Mérida (diss.)":"CP Mérida",
"CF Extremadura (diss.)":"CF Extremadura",
"CD Logroñés (liq.)":"CD Logroñés",
"AC Parma":"Parma AC",
"Milan AC":"AC Milan",
"Juventus FC":"Juventus",
"Torino Calcio":"Torino FC",
"AC Fiorentina":"ACF Fiorentina",
"Parma FC":"Parma AC",
"Parma Calcio 1913":"Parma AC",
"Florentia Viola":"ACF Fiorentina",
"SPAL":"SPAL 2013 Ferrara",
"UC Sampdoria":"Sampdoria",
"FC Internazionale":"Inter",
"Inter Milan":"Inter",
"Robur Siena":"AC Siena",
"FC Messina Peloro":"FC Messina",
"FC Girondins Bordeaux":"Girondins Bordeaux",
"RC Strasbourg Alsace":"RC Strasbourg",
"AS Nancy-Lorraine":"FC Nancy",
"ES Troyes AC":"Troyes AF",
"FC Sochaux-Montbéliard":"FC Sochaux",
"CS Sedan-Ardennes":"CS Sedan",
"Le Mans Union Club 72":"Le Mans UC 72",
"Le Mans FC":"Le Mans UC 72",
"SCO Angers":"Angers SCO",
"Stade Brest 29":"Stade Brest",
"FC Istres Ouest Provence":"FC Istres",
"Bayer 04 Leverkusen":"Bayer Leverkusen",
"Twente Enschede FC":"FC Twente",
"Vitesse Arnhem":"Vitesse",
"De Graafschap Doetinchem":"De Graafschap",
"Go Ahead Eagles Deventer":"Go Ahead Eagles",
"Cambuur-Leeuwarden bvo":"SC Cambuur",
"SC Cambuur-Leeuwarden":"SC Cambuur",
"Willem II Tilburg":"Willem II",
"SBV Excelsior Rotterdam":"SBV Excelsior",
"Vicenza Calcio":"Lanerossi Vicenza",
"Piacenza FC":"Piacenza Calcio",
"Delfino Pescara 1936":"Pescara Calcio"})

In [34]:
transfer_df.loc[transfer_df["Club"]=="Lanerossi Vicenza"]

,Club,Spending,Revenue,Year,Spend,Rev,Spend(m/Thousand),Rev(m/Thousand),Spend_raw,Rev_raw
17,Lanerossi Vicenza,-,-,1995-12-31,NaN,NaN,0,0,NaN,0.0
17,Lanerossi Vicenza,-,-,1996-12-31,NaN,NaN,0,0,NaN,0.0
13,Lanerossi Vicenza,€750Th.,€2.00m,1997-12-31,750.0,2.0,,0,750000.0,2000000.0
17,Lanerossi Vicenza,-,-,1998-12-31,NaN,NaN,0,0,NaN,0.0
12,Lanerossi Vicenza,€3.00m,-,2000-12-31,3.0,NaN,0,0,3000000.0,0.0

In [35]:
transfer_df.to_csv('transfers.csv', index=False)

In [36]:
transfer_df.to_excel('transfers.xlsx', index=False)

In [37]:
x=2005

BRA_list=[]


for r in range(15):
    braurl = f"https://www.transfermarkt.com/campeonato-brasileiro-serie-a/einnahmenausgaben/wettbewerb/BRA1/plus/0?ids=a&sa=&\
    saison_id={x}&saison_id_bis={x}&nat=&pos=&altersklasse=&w_s=&leihe=&intern=0"
    page=requests.get(braurl,headers={'User-Agent': 'Custom'})
    t=pd.read_html(page.content)
    t[3]["Year"]=f'{x}-12-31'
    BRA_list.append(t[3])
    x=x+1
    t
BRAtr=pd.concat(BRA_list)

In [38]:
BRAtr.tail()

,#,club,club.1,club.2,Expenditure,Arrivals,Income,Departures,Balance,Year
15,16,NaN,Botafogo de Futebol e Regatas,-,31,€2.10m,30,€2.10m,NaN,2019-12-31
16,17,NaN,Coritiba Foot Ball Club,-,26,€600Th.,30,€600Th.,NaN,2019-12-31
17,18,NaN,Club de Regatas Vasco da Gama,-,27,€6.15m,30,€6.15m,NaN,2019-12-31
18,19,NaN,Sport Club do Recife,-,28,€700Th.,26,€700Th.,NaN,2019-12-31
19,20,NaN,Atlético Clube Goianiense,-,23,€255Th.,26,€255Th.,NaN,2019-12-31